extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			for applicant in applicants
				li Applicant: 
					a(href='#{applicant._id}') #{applicant.name}
					form(method="post" action="/delete-applicant")
						input(type='hidden' name='id' value='#{applicant._id}')
						input.btn.btn-default(type="submit" value="Delete")